<% if (IsChooseStore()) {%>
    <% if (IsLogin()) {%>
        <li><a href="javascript:;" ref="myorder">订单</a></li>
        <li><a href="javascript:;" ref="myinfo">我的信息</a></li>
    <% }else{%>
        <li><a href="javascript:;" id="a_reg">注册/登录</a></li>
    <%} %>
    <li><a href="/about.aspx">联系我们</a></li>
    <!--<li><a href="/AdPut.aspx">广告投放</a></li>-->
    <% if (IsLogin()) {%>
    <li><a href="/feedback.aspx">反馈问题</a></li>
    <li><a href="/loginout.aspx">登出</a></li>
    <% }%>
<% }else{%>
<li><a href="/about.aspx">联系我们</a></li>
<!--<li><a href="/AdPut.aspx">广告投放</a></li>-->
<%} %>
