<% if(IsLogin()){%>
    <div id="Modal_UserSet" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>我的信息</h3>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#div_baseinfo" data-toggle="tab">基本信息</a></li>
            <li><a href="#div_editpwd" data-toggle="tab">修改密码</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="div_baseinfo">
                <form class="bs-docs-example form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="baseinfo_address">地址：</label>
                    <div class="controls">
                        <input type="email" id="baseinfo_address" placeholder="请输入您的地址" value="<%= CurrentUser.Address %>">
                        <span class="help-block" r=""></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="baseinfo_mobile">手机号：</label>
                    <div class="controls">
                        <input type="email" id="baseinfo_mobile" placeholder="请输入您的手机" value="<%= CurrentUser.Mobile %>">
                        <span class="help-block" r=""></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="baseinfo_qq">QQ：</label>
                    <div class="controls">
                        <input type="email" id="baseinfo_qq" placeholder="请输入您的QQ" value="<%= CurrentUser.QQ %>">
                        <span class="help-block" r=""></span>
                    </div>
                </div>
                </form>
            </div>
            <div class="tab-pane" id="div_editpwd">
                <form class="bs-docs-example form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="login_new_pwd">新密码：</label>
                    <div class="controls">
                        <input type="password" id="login_new_pwd" placeholder="新密码" title="新密码">
                        <span class="help-block" r=""></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="login_a_new_pwd">确认新密码：</label>
                    <div class="controls">
                        <input type="password" id="login_a_new_pwd" placeholder="确认新密码" title="确认新密码">
                        <span class="help-block" r=""></span>
                    </div>
                </div>
                </form>
            </div>
        </div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" id="btn_saveinfo">保存</button>
          <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      </div>
    </div>
    <script type="text/javascript">
        $(function () {
            var Msg = {};
            Msg.Show = function (msg, input) {
                input.focus(function () {
                    $(this).next(".help-block").html("").parents(".control-group").removeClass("error");
                }).parents(".control-group").addClass("error").find(".help-block").text(msg);
            }
            Msg.Hide = function (input) {
                input.parents(".control-group").removeClass("error").find(".help-block").html("");
            }
            $("a[ref='myinfo']").click(function () { $("#Modal_UserSet").modal('show'); return false; });
            function SetBaseInfo() {
                if (kcly.Validate.validate($("#baseinfo_address,#baseinfo_mobile,#baseinfo_qq"), Msg.Show, Msg.Hide)) {
                    var baseinfo_address = $("#baseinfo_address").val();
                    var baseinfo_mobile = $("#baseinfo_mobile").val();
                    var baseinfo_qq = $("#baseinfo_qq").val();
                    $.post("store.ashx?action=EditUser", { Address: baseinfo_address, Mobile: baseinfo_mobile, QQ: baseinfo_qq }, function (r) {
                        if (r.result) alert("信息设定成功!");
                        else alert(r.message);
                    }, "Json");
                }
            }
            function SetPwd() {
                if (kcly.Validate.validate($("#login_new_pwd,#login_a_new_pwd"), Msg.Show, Msg.Hide)) {
                    var login_new_pwd = $("#login_new_pwd").val();
                    var login_a_new_pwd = $("#login_a_new_pwd").val();
                    $.post("store.ashx?action=EditPwd", { Pwd: login_new_pwd }, function (r) {
                        if (r.result) {
                            $("#login_new_pwd").val("");
                            $("#login_a_new_pwd").val("");
                            alert("密码修改成功");
                            $("#Modal_UserSet").modal('hide');
                        }
                        else alert(r.message);
                    }, "Json");
                }
            }
            $('a[data-toggle="tab"]').on('shown', function (e) {
                if ($(e.target).attr("href") == "#div_baseinfo") $("#btn_saveinfo").html("保存").unbind("click").bind("click", function () { SetBaseInfo() });
                if ($(e.target).attr("href") == "#div_editpwd") $("#btn_saveinfo").html("修改").unbind("click").bind("click", function () { SetPwd() });
            });
            $("#btn_saveinfo").html("保存").unbind("click").bind("click", function () { SetBaseInfo() });
            $("#baseinfo_address").addVerify("checklength", { min: 6, max: 40 }, "地址长度为6-40");
            $("#baseinfo_mobile").addVerify("test", "IsMobilePhone", "手机号格式不正确");
            $("#baseinfo_qq").addVerify("checklength", { min: 6, max: 40 }, "QQ格式不正确");
            $("#login_new_pwd").addVerify("notnull", null, "请输入密码").addVerify("checklength", { min: 6, max: 20 }, "密码长度为6-20");
            $("#login_a_new_pwd").addVerify("checklength", { min: 6, max: 20 }, "密码长度为6-20").addVerify("equal", { obj: "#login_new_pwd" }, "请确认密码");
        });
    </script>
    <%} %>